<html>

	<body id = "home-body">
		
		<div class="container">

			<div class = "row">
				<div class = "col-lg-12 col-md-12">
					<div class = "jumbotron jmb-image">

						<div class = "strt-text">
							
								<h1 class="strt-h1-style">My journal</h1>

								<h3 class="strt-h3-style">Dig into your world of memories</h3>
						</div>
					</div>
				</div>
			</div>

			<div class= "strt-btn">
				<button type = "button" class = "btn btn-primary"><%= link_to 'Get Started', posts_path %> </button>
			</div>

		</div>

	</body>


</html>