<!DOCTYPE html>
<html>

<body>

	<div id = "index-head">
		<div class = "container">
		
			<div class = "jumbotron index-jmb">

				<h2 class = "head-index-style"> Welcome to YourJournal </h2>

			</div>


		</div>

	</div>

	<div id = "main-index">
	</div>

</body>
</html>