// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

html{
	height: 100%;
}
.strt-text{
	text-align: right;
	color: white;
	text-shadow: 4px 4px 26px rgba(146, 150, 150, 0.77);
	font-family: 'Gloria Hallelujah', cursive;
	padding-top: 120px;
	
}

#home-body{
	
	background: url("https://images.unsplash.com/photo-1506784983877-45594efa4cbe?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	}

.jmb-image{
background: none !important;
}

.strt-h1-style{

font-size: 4em;
    padding-right: 99px;
	
}
.strt-h3-style{
	font-size: 2em;
}

.strt-btn{
	text-align: center;
}



